<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Share to Teams</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body onload="">
    <div id="page"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://alcdn.msauth.net/browser/2.19.0/js/msal-browser.min.js"></script>
    <script src="https://unpkg.com/markdown-it/dist/markdown-it.min.js"></script>

    <script src="~/lib/react/react.production.min.js"></script>
    <script src="~/lib/react-dom/react-dom.production.min.js"></script>
    <script src="~/dist/bundle.js" asp-append-version="true"></script>
</body>
</html>